<html>
  <head>
    <style>
      body {
        background: gray;
        padding-top: 100px;
        text-align:center;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <p><%= @word %></p>
    <p>You have <%= @guesses %> left </p>
    <form action="/" method="post">
      <input type='text' name='letter' value="<%= @letter %>" />
      <input type='submit'>
  </form>
  <ul>
    <% @letters.each do |name| %>
      <li><%= name %></li>
    <% end %>
  <ul>
  </body>
</html>