<html>
  <head>
    <style>
      body {
        background: gray;
        padding-top: 100px;
        text-align:center;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <p>YOU LOSE</p>
    <a href="/" class="btn">Play again</a>
  </body>
</html>