<html>
  <head>
    <style>
      body {
        background: gray;
        padding-top: 100px;
        text-align:center;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <img src = "http://pix.iemoji.com/images/emoji/apple/ios-9/256/party-popper.png"  alt="Celebrate!" align="left">
    <p>YOU WIN!</p>
    <a href="/" class="btn">Play again</a>
  </body>
</html>